#cp::part(base) {
  width: 300px;
  height: 300px;
}

#cp::part(value) {
  stroke-width: 6px;
  stroke: hsl(113, 90%, 50%);
  stroke-linecap: round;
}
#cp::part(circle) {
  stroke-width: 2px;
}

.timer {
  margin: 0;
  padding: 0;

  background-color: rgba(255, 0, 0, 0.2);
  width: 300px;
  height: 400px;

  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
