:root {
  --timer-size: 300px;
  --antiProgress: #dddddd;
  --blå-farge: hsl(226, 68%, 61%);
  --bakgrunn: #f0f0f0;
  --tittelFarge: hsl(5, 5%, 5%);
  --timerTekstFarge: hsl(0, 0%, 0%);
  --timerFarge: hsl(138, 100%, 40%);

  --modeTransition: 0.5s;

  --blåSkygge: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
}

.darkMode {
  --antiProgress: #c7c7c7;
  --bakgrunn: #1c1c1d;
  --tittelFarge: #ffffff;
  --timerTekstFarge: #ffffff;
  --blå-farge: hsl(226, 68%, 61%);
  --timerFarge: hsl(130, 77%, 59%);
}

.friminutt {
  --timerFarge: var(--blå-farge);
}

.visning2 {
  --timer-size: 600px;
}

body {
  background-color: var(--bakgrunn);
  transition: background-color var(--modeTransition) ease, color var(--modeTransition) ease;
}

#flexMain {
  display: flex;
  justify-content: space-between;
  align-items: center;

  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);

  padding: 20px;
  width: calc(100% - 40px);
}

.visning2 #flexMain {
  justify-content: space-around;
}

.kontroller {
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 15px 0;
}

.visning2 .kontroller {
  display: none;
}

.info {
  min-width: 200px;
}

table {
  border-radius: 6px;
  text-align: left;
  padding: 10px;

  background-color: var(--blå-farge);
  color: #fff;
  box-shadow: var(--blåSkygge);
}

.visning2 table {
  font-size: 30px;
  border-radius: 12px;
}

td {
  padding-left: 20px;
}

#cp::part(base) {
  width: var(--timer-size);
  height: var(--timer-size);
}

#cp::part(value) {
  stroke-width: 6px;
  stroke: var(--timerFarge);
  stroke-linecap: round;
  transition: stroke var(--modeTransition) ease;
}

#cp::part(circle) {
  stroke-width: 3px;
  border-radius: 50%;
  box-shadow: 5px 5px 15px rgba(0, 0, 0, 1);
  stroke: var(--antiProgress);
  transition: stroke var(--modeTransition) ease;
}

.timer {
  position: relative;
}

.visning1 .timer {
  margin: 0;
  padding: 0;

  width: var(--timer-size);
  height: var(--timer-size);

  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

#timerTekst {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin: 0;

  font-size: 65px;
  font-weight: bold;
  color: var(--timerTekstFarge);

  transition: color var(--modeTransition) ease;
}

.visning2 #timerTekst {
  font-size: 120px;
}

#kontroller {
  position: fixed;
  left: 50%;
  bottom: 20px;
  transform: translate(-50%, -50%);
  margin: 0 auto;
  width: 600px;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 15px 0;
}

.knapp-rad {
  display: flex;
  flex-direction: row;
  gap: 30px;
}

button {
  width: 150px;
  height: 30px;
}

#klassevelger {
  width: 260px;
  height: 30px;
}

#klassevelger-side {
  width: 100%;
  padding: 6px 10px;
  line-height: normal;
  box-sizing: border-box;
}

/* div {
  background-color: rgba(255, 0, 0, 0.2);
} */

.color {
  align-items: center;
  appearance: none;
  background-color: var(--blå-farge);
  border: 0;
  border-radius: 6px;
  /*box-shadow: rgba(45, 35, 66, 0.4) 0 2px 4px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px, rgba(58, 65, 111, 0.5) 0 -3px 0 inset;*/
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-flex;
  font-family: "Inter var", ui-sans-serif, system-ui, -apple-system, system-ui, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
    "Segoe UI Symbol", "Noto Color Emoji";
  font-weight: 600;
  height: 48px;
  justify-content: center;
  line-height: 1;
  list-style: none;
  overflow: hidden;
  padding-left: 16px;
  padding-right: 16px;
  position: relative;
  text-align: left;
  text-decoration: none;
  transition: box-shadow 0.15s, transform 0.15s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: nowrap;
  will-change: box-shadow, transform;
  font-size: 18px;
}

.button:hover {
  box-shadow: rgba(45, 35, 66, 0.4) 0 4px 8px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #3c4fe0 0 -3px 0 inset;
  transform: translateY(-2px);
}

.button:active {
  box-shadow: #3c4fe0 0 3px 7px inset;
  transform: translateY(2px);
}

#modusKnapper {
  position: fixed;
  top: 20px;
  right: 20px;

  width: 110px;

  display: flex;
  justify-content: space-between;

  /* background-color: hsl(0, 0%, 75%);
  border-radius: 20px; */
}

.modusKnapp {
  background-color: hsl(0, 0%, 85%);
  width: 50px;
  height: 50px;
  padding: 0;
  border-radius: 50%;
  border: 0;
  display: flex;
  justify-content: center;
  align-items: center;

  cursor: pointer;
}

.modusKnapp svg {
  fill: #000000;
}

#themeSwitch svg:last-child {
  display: none;
}

.darkMode #themeSwitch svg:first-child {
  display: none;
}

.darkMode #themeSwitch svg:last-child {
  display: block;
}

#visningKnapp svg:last-child {
  display: none;
}

.visning2 #visningKnapp svg:first-child {
  display: none;
}

.visning2 #visningKnapp svg:last-child {
  display: block;
}

.visning2 h1 {
  display: none;
}
